<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>techsearch</title>

	<!-- Included CSS Files -->
  <link rel="stylesheet" href="stylesheets/app.css">
  <link rel="stylesheet" href="stylesheets/offcanvas.css">

  <script src="javascripts/foundation/modernizr.foundation.js"></script>

</head>

  <body id="page" class="off-canvas slide-nav">
	<div class="container">

		<nav id="topMenu" role="navigation">
			<ul id="nav" class="nav-bar">
				<li><a href="">PC Components</a></li>
				<li><a href="">Need Help?</a></li>
				<li><a href="">About</a></li>
				<li><a href="">Feedback</a></li>
			</ul>
		</nav>
<!-- ADDED INLINE STYLE -->
		<header id="header" class="row">
		  <div class="four columns phone-two">
		    <span class="hide-for-small" style="font-size:2em;"><a href="#" style="color:black;">techsearch<sub style="font-size:0.4em; color:red;">alpha</sub></a></span>
		  </div>
		  <div class="eight columns phone-two">
		    <nav id="menu" role="navigation" class="hide-for-small">
    			<ul id="mainNav" class="nav-bar">
    				<li><a href="">PC Components</a></li>
            <li><a href="">Need Help?</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Feedback</a></li>
    			</ul>
    		</nav>
  			<p class="show-for-small">
  			  <a class='menu-button button' id="menuButton" href="#menu">Menu</a>
  			  <a class='sidebar-button button' id="sidebarButton" href="#sidebar">Settings</a>
  			</p>
		  </div>
		</header>

		<div class="row">

  		<section role="main">
  			<div class="row">

          <div class="six columns">
            <ul class="breadcrumbs">
             <li><a href="#">Motherboard</a></li>
             <li><a href="#">CPU</a></li>
             <li><a href="#">RAM</a></li>
             <li><a href="#">Drives</a></li>
             <li><a href="#">PC Cases</a></li>
             <li><a href="#">Other</a></li>
            </ul>

            <h3>Search has found [x] items</h3>

      			<div class="listing">
              

            </div>
      		</div>
      		<div class="six columns">
      			<p>Saved stuff</p>

      			
      		</div>
        </div>
  		</section>

  		<section id="sidebar" role="complementary">

				<h4>Settings</h4>
        
        <form action="">
          <input name="radio1" type="radio">
        </form>

  		</section>
		</div>

    <footer class="site-footer row" role="contentinfo">
      <div class="twelve columns">
        Copyright &copy; Event Horizon LLC
      </div>
    </footer>
  </div>


	<!-- Included JS Files -->
  <script src="javascripts/foundation/jquery.js"></script>
  <script src="javascripts/foundation/jquery.foundation.reveal.js"></script>
  <script src="javascripts/foundation/jquery.foundation.orbit.js"></script>
  <script src="javascripts/foundation/jquery.foundation.forms.js"></script>
  <script src="javascripts/foundation/jquery.placeholder.js"></script>
  <script src="javascripts/foundation/jquery.foundation.tooltips.js"></script>
  <script src="javascripts/foundation/jquery.foundation.alerts.js"></script>
  <script src="javascripts/foundation/jquery.foundation.buttons.js"></script>
  <script src="javascripts/foundation/jquery.foundation.accordion.js"></script>
  <script src="javascripts/foundation/jquery.foundation.navigation.js"></script>
  <script src="javascripts/foundation/jquery.foundation.mediaQueryToggle.js"></script>
  <script src="javascripts/foundation/jquery.foundation.tabs.js"></script>
  <script src="javascripts/foundation/jquery.offcanvas.js"></script>
  <script src="javascripts/foundation/app.js"></script>
<!-- Created with ZURB Foundation 3, based on code from Jason Weaver and Luke Wroblewski -->
</body>
</html>